<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel Planner</title>
    </head>
    <body>
        <header>
            <span class="siteLogo"> Travel Planner </span>
        </header>

        <div id="app">
            <form id="tripForm" data-show="true">
                <div class="formGroup">
                    <label for="tripDestination">Where are you going?</label>
                    <input
                        type="text"
                        name="tripDestination"
                        id="tripDestination"
                        placeholder="City, State"
                        required
                    />
                </div>
                <div class="formGroup">
                    <label for="tripDepartDate">When are you leaving?</label>
                    <input
                        type="date"
                        name="tripDepartDate"
                        id="tripDepartDate"
                        min="2022-01-01"
                        required
                    />
                </div>
                <div class="formGroup">
                    <label for="tripReturnDate">When are you returning?</label>
                    <input
                        type="date"
                        name="tripReturnDate"
                        id="tripReturnDate"
                        min="2022-01-02"
                        required
                    />
                </div>
                <button type="submit">Save Trip</button>
            </form>

            <div id="results" data-show="false">
                <img class="resultsImg" src="#" alt="Trip Destination Image" />
                <div class="resultsDestination">
                    <h2>Destination</h2>
                </div>

                <div class="travelDetails" data-show="true">
                    <h3>Travel Details</h3>
                    <ul>
                        <li>
                            Leaving: <span class="resultsDepartDate"></span>
                        </li>
                        <li>
                            Returning: <span class="resultsReturnDate"></span>
                        </li>
                        <li>Duration: <span class="resultsDuration"></span></li>
                    </ul>
                </div>
                <div class="weatherDetails">
                    <h3>Weather Details</h3>
                    <p></p>
                    <ul data-show="true">
                        <li>High: <span class="resultsHi"></span></li>
                        <li>Low: <span class="resultsLo"></span></li>
                        <li>
                            Rain Chance: <span class="resultsRainChance"></span>
                        </li>
                        <li>
                            Conditions: <span class="resultsConditions"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
